.error {
  color: #ff6060;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-content {
  margin: 0 40px;
  text-align: center;
}

.error-number {
  font-size: 96px;
  font-weight: 700;
  margin: 0;
}

.error-text {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
}

.error-link {
  color: #ff6060;
  font-size: 14px;
  font-weight: 500;
  margin-top: 133px;
}

@media screen and (max-width: 950px) {
  .error {
    text-align: center;
  }
}
.about-container {
  padding: 0px 68px;
  margin-top: 44px;
  margin-bottom: 200px;
  width: 100%;
  position: relative;
  border-radius: 25px;
}

.about-tab-container {
  padding: 0px 100px;
}

.moutain {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
}

@media screen and (max-width: 950px) {
  .about-container {
    padding: 0px 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .about-tab-container {
    padding: 0;
  }
  .moutain {
    border-radius: 10px;
    height: 111px;
  }
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  /* padding:0 100px; */
  margin: auto;
  padding-top: 50px;
  font-family: "Montserrat";
}

@media screen and (max-width: 950px) {
  .App {
    padding-top: 20px;
  }
}
.home-banner {
  height: 223px;
  width: 100%;
  position: relative;
  background-color: black;
  border-radius: 25px;
}

.home-banner img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  opacity: 0.7;
}

.home-banner h1 {
  position: absolute;
  width: 60%;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line-break {
  display: none;
}

@media screen and (max-width: 950px) {
  .home-banner {
    height: 111px;
    border-radius: 10px;
  }
  .home-banner img {
    border-radius: 10px;
  }
  .home-banner h1 {
    position: absolute;
    width: 80%;
    font-size: 24px;
  }
  .line-break {
    display: inline;
  }
}
.home-card {
  max-width: 340px;
  height: 340px;
  background: linear-gradient(180deg, linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%));
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.home-card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.home-card:hover img {
  transform: scale(1.04);
}

.home-card h3 {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  bottom: 20px;
  left: 20px;
  max-width: 200px;
}

@media screen and (max-width: 950px) {
  .home-card {
    height: 255px;
    width: 305px;
  }
}
.footer-kasa {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 210px;
  width: 100%;
}

.footer-kasa img {
  width: 100px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer-kasa p {
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
}

@media screen and (max-width: 950px) {
  .footer-kasa p {
    font-size: 12px;
  }
  .footer-kasa img {
    margin-bottom: 20px;
  }
}
.navigation-container {
  width: 100%;
  display: flex;
  padding: 0px 70px;
}

.header-logo-container {
  width: 50%;
}

.navigation {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  display: flex;
}

.nav-link {
  color: #ff6060;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
}

nav ul a:nth-child(1) {
  margin-right: 48px;
}

.active-link {
  text-decoration: underline;
}

@media screen and (max-width: 950px) {
  .navigation-container {
    padding: 0px 20px;
  }
  .header-logo-container img {
    width: 120px;
  }
  .nav-link {
    font-size: 12px;
  }
  nav ul a:nth-child(1) {
    margin-right: 10px;
  }
  .active-link {
    text-decoration: underline;
  }
}
.home-container {
  margin-top: 68px;
  padding: 0px 68px;
}

.home-card-container {
  margin-top: 48px;
  width: 100%;
  background: #f7f7f7;
  border-radius: 25px;
  min-height: 500px;
  padding: 50px 30px 0px 30px;
  margin-bottom: 40px;
}

.home-card-container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-card-container ul li {
  margin-bottom: 50px;
}

.home-card-container ul a {
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .home-container {
    margin-top: 20px;
    padding: 0px 20px;
  }
  .home-card-container {
    padding: 0;
    margin-top: 22px;
    background: transparent;
  }
  .home-card-container ul li {
    margin-bottom: 20px;
  }
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

.about-container {
  padding: 0px 68px;
  margin-top: 44px;
  margin-bottom: 200px;
  width: 100%;
  position: relative;
  border-radius: 25px;
}

.about-tab-container {
  padding: 0px 100px;
}

.moutain {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
}

@media screen and (max-width: 950px) {
  .about-container {
    padding: 0px 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .about-tab-container {
    padding: 0;
  }
  .moutain {
    border-radius: 10px;
    height: 111px;
  }
}
.infos-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  position: relative;
}

.accomodation-title {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  margin-top: 30px;
  width: 70%;
}

.accomodation-location {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  line-height: 25.67px;
}

.accomodation-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6060;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  height: 25px;
  width: 150px;
  margin-right: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
}

.accomodation-host img {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  object-fit: 100%;
}

.accomodation-host p {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #ff6060;
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 40%;
  text-align: right;
}

.accomodation-host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.empty-star-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 27px;
  right: 5px;
}

.filled-star-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 20;
  top: 27px;
  right: 5px;
}

.star {
  height: 23px;
  width: 23px;
  margin-left: 10px;
}

.accomodation-stars {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.user {
  position: absolute;
  right: 100px;
  top: 24px;
}

.collapse-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  margin-left: -32px;
}

.collapse-description {
  width: 50%;
}

.collapse-equipment {
  width: 50%;
}

@media screen and (max-width: 950px) {
  .infos-container {
    margin-right: 50px;
  }
  .accomodation-header {
    display: flex;
    flex-direction: column;
  }
  .accomodation-title {
    font-size: 18px;
  }
  .accomodation-location {
    font-size: 14px;
  }
  .accomodation-tag {
    height: 18px;
    font-size: 8px;
  }
  .user {
    margin: 16px 0 16px 0;
    display: flex;
    position: static;
    width: 100%;
    height: 50px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .accomodation-host {
    display: flex;
    align-items: center;
  }
  .accomodation-host p {
    display: flex;
    width: 10%;
    font-size: 12px;
    line-height: 15px;
  }
  .accomodation-host img {
    display: flex;
    height: 32px;
    width: 32px;
  }
  .empty-star-container {
    display: flex;
    top: 5px;
    justify-content: flex-start;
    left: -10px;
  }
  .filled-star-container {
    display: flex;
    top: 5px;
    left: -10px;
    justify-content: flex-start;
  }
  .collapse-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .collapse-description {
    width: 110%;
    margin-left: -6%;
  }
  .collapse-equipment {
    width: 110%;
    margin-bottom: 60px;
    margin-left: -6%;
  }
}
@media screen and (max-width: 600px) {
  .infos-container {
    display: flex;
    justify-content: center;
    width: 85%;
    margin-left: 30px;
  }
  .accomodation-host p {
    display: flex;
    width: 20%;
    font-size: 12px;
    line-height: 15px;
  }
  .accomodation-host img {
    display: flex;
    height: 32px;
    width: 32px;
  }
}
.collapse {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.collapse-title {
  background: #ff6060;
  border-radius: 5px;
  height: 47px;
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Arrow {
  transition: all 0.2s ease-in-out;
  width: 12px;
}

.arrowDown {
  position: absolute;
  top: 9px;
  right: 9px;
  transform: rotate(180deg);
}

.arrowUp {
  position: absolute;
  top: 9px;
  right: 9px;
  transform: rotate(0deg);
}

.collapse-title h3 {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-left: 18px;
}

.collapse-content {
  background: #f7f7f7;
  border-radius: 0 0 5px 5px;
  width: 90%;
  margin-top: -5px;
  padding: 40px 20px;
  margin-bottom: 20px;
}

.collapse-content-hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.collapse-content li {
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat";
  font-style: normal;
  list-style-type: none;
  color: #ff6060;
  margin-bottom: 10px;
}

.collapse-content p {
  font-weight: 400;
  font-size: 18px;
  color: #ff6060;
}

.arrows-collapse {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .collapse {
    margin-top: 20px;
  }
  .collapse-title {
    height: 30px;
  }
  .collapse-title h3 {
    font-weight: 500;
    font-size: 13px;
    margin-left: 12px;
  }
  .arrows-collapse {
    width: 16px;
  }
  .collapse-content p {
    font-size: 12px;
  }
  .collapse-content {
    padding: 20px 30px;
  }
  .collapse-content li {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=main.css.map */